*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/*header with the time*/
.header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.header{
  height: 100px;
  display: block;
  margin: 0 auto;
  /*border: 1px solid #B2d6ff;*/
}

.time{
  text-align: center;
  font-size: 3rem;
  padding: 20px 20px;
}

/*weather section layout*/

.weather-grid{
  display: flex;
  justify-content:  center;
  align-items:  center;
  flex-direction: row;
}
/*current weather*/
.current{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /*border: 2px solid #ff0000;*/
  width: 400px;
  height: 300px;
  flex-wrap: wrap;
}

.sign{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.num{
  font-size: 4rem;
}

.degrees{
  display: flex;

  align-items: center;
  justify-content: center;
}

.cirle{
  font-size: 4rem;
}

/*weekcast*/
.weekcast{
  display:block;
  /*border: 2px solid #5995da;*/
  width: 400px;
  height: 300px;


}


.future{
  text-align: center;
}

.weekcast-info{
  display: block;

  text-align: center;
}

.weekcast-info > ul{
  display: inline-block;
}




/*reminders*/
.reminder-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /*border: 2px solid #66ff33;*/
  overflow: hidden;
}

.rhead{
  text-align: center;
  justify-content: center;
  font-size: 2rem;
}

.button{
  text-decoration: none;
  color: white;
}

.button:hover{
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #ff0000;
  color: red;
}

.table{
  width: 100%;
  text-align: center;
}

td{
  text-align: center;
  padding-top: 1rem;
}


/*other aesthetics*/
body{
  background-color: #33343a;
  color: white;
}
